.container{
width: 45%;
height: 45;
background-color: orange;
border-color: black;
border-style: solid;
border-width: 10px;
border-radius: 60px;
display: flex;
justify-content: center;
align-items: center;
}

.carousel-item active{
height: 40%;
padding: 40px;
}